html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#092c35, #126E82);
}

.contenedor{
    margin: 90px auto;
    width: 400px;
    padding:  30px;
    background:  rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.contenedor h2{
    margin: 0 0 30px;
    padding:  0;
    font-size: 35px;
    color: #EEEBDD;
    text-align: center;
    font-family: "Merienda";
}

.contenedor .elemento label{
    color: #fff;
    font-family: "Tajawal";
    font-size: larger;
}

.contenedor .elemento input{
    width: 100%;
    padding:  10px 0;
    color: #FFF;
    background: transparent;
    border: none;
    border-bottom:  1px solid #FFF;
    margin-bottom:  30px;
}

.contenedor .elemento input[type="submit"]{
    background-color: #126E82;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30pxx;
    font-family: "Tajawal";
    font-size: larger;
}

.contenedor .elemento input[type="submit"]:hover{
    background-color: #021418;
    color: white;
}